<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sumx4ever.italker">

    <!-- 网络相关的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 读取存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 写存储权限，OSS需要 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- iBeancon功能所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- 个推网络注册 -->

        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".activities.AccountActivity"
            android:theme="@style/AppTheme.Account" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.UserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Account" />
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name=".activities.MessageActivity"
            android:label="@string/title_activity_message"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.Message" />
        <activity
            android:name=".activities.PersonalActivity"
            android:label="@string/title_activity_personal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name=".activities.GroupCreateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Group.Create" />
        <activity
            android:name=".activities.GroupMemberActivity"
            android:label="@string/title_member_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />


        <!-- 用户自定义服务继承自GTIntentService,作为SDK与APP桥梁服务,用来接收各种消息和命令回复 -->
        <service
            android:name=".services.IntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- 配置SDK核心服务 -->
        <!-- process必须指定为":pushservice"，切勿随意更改 -->
        <service
            android:name=".services.TalkerPushService"
            android:exported="true"
            android:label="PushService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />
    </application>

</manifest>